@use 'bulma/sass/utilities/mixins';
@use 'bulma/sass/utilities/derived-variables' as *;

.body {
  position: relative;

  @include mixins.desktop {
    height: 100vh;
  }

  &::before {
    content: '';
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    background-image: url(../../images/background-imag.jpg);
    inset: 0;
    opacity: 0.8;
    filter: blur(3px);
  }
}

.container {
  @include mixins.desktop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.box {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  width: max-content;

  @include mixins.desktop {
    width: 100%;
  }
}

.query_box {
  @include mixins.desktop {
    width: 75%;
  }
}

.query_control {
  @include mixins.desktop {
    width: 75%;
  }
}

.price_form_control {
  width: 100%;
  text-align: center;

  @include mixins.desktop {
    width: 50%;
  }
}

.button {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  gap: 10px;
  transition: transform 0.3s ease;

  @include mixins.desktop {
    width: 100%;
  }

  &:hover {
    transform: scale(1.03);
  }
}

.range_slider {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  height: 6px;
  margin-block: 8px;
  background: #ddd;
  border-radius: 3px;
  outline: none;
  transition: all 0.3s;
}

.range_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: var(--bulma-primary);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}

.range_slider:hover {
  background: #ccc;
}

.range_slider::-webkit-slider-thumb:hover {
  background: var(--bulma-primary-40);
}

.price {
  font-weight: 600;
}
