$pink: #db5461;
$dark-pink : #a53860;
$header-height: 52px;
$bulma-spacing-1: 0.25rem;
$bulma-spacing-2: 0.5rem;
$bulma-spacing-3: 0.75rem;
$bulma-spacing-4: 1rem;
$bulma-spacing-5: 1.5rem;
$bulma-spacing-6: 3rem;