.control {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.button {
  width: 30px;
  height: 30px;
}